<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

return Config::create()
    ->setFinder(
        Finder::create()
            ->exclude('vendor')
            ->in(__DIR__)
    )
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'braces' => [
            'allow_single_line_closure' => false,
            'position_after_anonymous_constructs' => 'same',
            'position_after_control_structures' => 'same',
            'position_after_functions_and_oop_constructs' => 'next',
        ],
        'concat_space' => [
            'spacing' => 'one',
        ],
        'elseif' => false,
        'no_trailing_comma_in_list_call' => false,
        'no_trailing_comma_in_singleline_array' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'no_whitespace_before_comma_in_array' => true,
        'ordered_imports' => [
            'sort_algorithm' => 'alpha',
        ],
        'psr4' => true,
        'trailing_comma_in_multiline_array' => true,
    ]);
